# Node / build artifacts
node_modules
.next
out
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store

# Env and local files
.env
.env.*
.env.local
.DS_Store

# Git / IDE
.git
.gitignore
.vscode
.idea

# Logs
logs*
*.log

